In [1]:
#ex 49 데이터 구조(튜플)
# a,b,c,d,e를 저장하는 튜플을 만들고 첫 번째 튜플값과 마지막 튜플값을 출력하세요

tuple=('a','b','c','d','e')
print(tuple[0],tuple[len(tuple)-1])

a e

In [2]:
#ex 50 데이터 구조(튜플)
#에러가 나는 이유를 설명하세요

tuple_Data=('dave','fun-coding','endless')
tuple_Data[0]='david' #튜플은 데이터 수정이 불능

TypeError: 'tuple' object does not support item assignment

In [4]:
#ex 51 데이터 구조(튜플)
#이렇게 나오는 이유를 튜플 기반으로 설명하세요
var1,var2=1,2
var1,var2=var2,var1 #스와프 된 것
print(var1,var2) #튜플은 수정이 안됨

2 1

In [5]:
#ex 52 데이터 구조(튜플)
# 두번째 부터 마지막 까지 출력하세요
t=('coding1','coding2','coding3','coding4','coding5')
print(t[1:]) #슬라이딩 가능

('coding2', 'coding3', 'coding4', 'coding5')

In [6]:
#ex 53 데이터 구조(튜플과 리스트)
# 튜플을 리스트 데이터로 변환한 후에 coding4를 추가하세요
t=('coding1','coding2','coding3')
l=list(t)
l.append('coding4')
print(l)

['coding1', 'coding2', 'coding3', 'coding4']

In [15]:
#ex 54 데이터 구조(튜플,리스트,딕셔너리)
# 빈 튜플,리스트,딕셔너리 변수를 하나씩 각각 만드세요

t=()
l=[]
d={}
print(type(t),type(l),type(d))

<class 'tuple'> <class 'list'> <class 'dict'>

In [17]:
#ex 55 데이터 구조(딕셔너리)
# 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 딕셔너리 변수의 key값인 영어단어
# value 값인 의미 만을 가진 리스트 변수를 각각 만들고 두 리스트 변수를 출력
d={'environment':'환경','company':',회사','government':'정부,정치','face':'얼굴'}
d_key=[data for data in d.keys()]
d_value=[data for data in d.values()]
print(d_key)
print(d_value)

['environment', 'company', 'government', 'face']
['환경', ',회사', '정부,정치', '얼굴']

In [21]:
#ex 56 데이터 구조(딕셔너리)
# 딕셔너리 변수를 만들고 반목문을 사용해서 아래처럼 출력하시오
# environment : 환경
# company : 회사
# government : 정부,정치
# face : 얼굴
d={'environment':'환경','company':'회사','government':'정부,정치','face':'얼굴'}
for data in d:
    print(data,':',d[data])

environment : 환경
company : 회사
government : 정부,정치
face : 얼굴

In [24]:
#ex 57 데이터 구조(딕셔너리)
# 외움표시가 X인 영어단어만 출력하시오
# environment : 환경  X
# company : 회사      O
# government : 정부,정치 X
# face : 얼굴 X

d={'environment':['환경','X'],'company':['회사','O'],'government':['정부,정치','X'],'face':['얼굴','X']}
for data in d.keys():
    if d[data][1]=='X':
        print(data)

environment
government
face

In [26]:
#ex 58 데이터 구조(딕셔너리)
# 입력받은 data를 O로 수정하고
# 외움표시가 O인 영어단어만 출력하시오
d={'environment':['환경','X'],'company':['회사','X'],'government':['정부,정치','X'],'face':['얼굴','X']}

input_data=input()
d[input_data][1]='O'
print('외운 단어')
for data in d.keys():
    if d[data][1]=='O':
        print(data)
print('못외운 단어')
for data in d.keys():
    if d[data][1]=='X':
        print(data)

face
외운 단어
face
못외운 단어
environment
company
government

In [27]:
#ex 59 데이터 구조(딕셔너리)
# d_all에 d_1 과 d_2의 데이터를 추가해고 출력해라
d_all={'environment':'환경','government':'정부,정치'}
d_1={'company':'회사','face':'얼굴'}
d_2={'apple':'사과'}

print("변경 전:",d_all,'\n')
for data in d_1.keys():
    d_all[data]=d_1[data]
for data in d_2.keys():
    d_all[data]=d_2[data]
print("변경 후:",d_all)

변경 전: {'environment': '환경', 'government': '정부,정치'}

변경 후: {'environment': '환경', 'government': '정부,정치', 'company': '회사', 'face': '얼굴', 'apple': '사과'}

In [33]:
#ex60 데이터 구조(딕셔너리)
# actor_info 딕셔너리 변수를 만들고, 홈페이지,배우 이름, 최근 출연 영화 갯수를 출력해라

actor_info={'actor_details':
            {'생년월일':'1971-01-01',
           'sex':'man',
           'job':'actor',
           'homepage':'http://'},
            'actor_name':'마동석',
            'actor_rate':595959,
            'date':'2016',
            'list':['범죄도시','부라더','부산행']}
print("배우 이름:",actor_info['actor_name'])
print("홈페이지:",actor_info['actor_details']['homepage'])
print("작품 갯수:",len(actor_info['list']))

배우 이름: 마동석
홈페이지: http://
작품 갯수: 3

In [35]:
#ex61 데이터 구조(집합)
# number_list가 다음과 같은 리스트일 때 중복 숫자를 제거한 리스트를 만들어라
num=[5,1,2,2,2,3,4,5,5,6,7,8,9,9,10,10]
num_set=set(num)
print(num_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}